<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.css">

    <title>f.pop 後台管理</title>

</head>

<body id="page-top">

    <%- include("admin_navbar.ejs") %>

        <!-- ---------------------------------------------------------------------- -->

        <!-- Main Content -->
        <div class="fpop-main p-5">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin/goods">首頁</a></li>
                    <li class="breadcrumb-item"><a href="#">會員管理</a></li>
                    <li class="breadcrumb-item active" aria-current="page">會員資料</li>
                </ol>
            </nav>
            <div class="panel panel-default">
                <div class="panel-body">
                <table id="table_server" ></table>
                </div>
                </div>
            <table id="mytab" class="table table-hover"></table>
            <script type="text/javascript">
                $(function () {
                
                    var t = $("#table_server").bootstrapTable({
                        url: 'http://localhost:3000/admin/goods/member',
                        method: 'get',
                        dataType: "json",
                        striped: true,              //設定為 true 會有隔行變色效果
                        undefinedText: "空",        //當資料為 undefined 時顯示的字元
                        pagination: true,            //分頁
                        // paginationLoop:true,//設定為 true 啟用分頁條無限迴圈的功能。
                        showToggle: "true",//是否顯示 切換試圖（table/card）按鈕
                        showColumns: "true",//是否顯示 內容列下拉框
                        pageNumber: 1,//如果設定了分頁，首頁頁碼
                        // showPaginationSwitch:true,//是否顯示 資料條數選擇框
                        pageSize: 5,//如果設定了分頁，頁面資料條數
                        pageList: [5, 10, 20, 40],	//如果設定了分頁，設定可供選擇的頁面資料條數。設定為All 則顯示所有記錄。
                        paginationPreText: '‹',//指定分頁條中上一頁按鈕的圖示或文字,這裡是<
                        paginationNextText: '›',//指定分頁條中下一頁按鈕的圖示或文字,這裡是>
                        // singleSelect: false,//設定True 將禁止多選
                        search: false, //顯示搜尋框
                        data_local: "zh-US",//表格漢化
                        sidePagination: "server", //服務端處理分頁
                        queryParams: function (params) {//自定義引數，這裡的引數是傳給後臺的，我這是是分頁用的
                            return {                  //這裡的params是table提供的
                                cp: params.offset,//從資料庫第幾條記錄開始
                                ps: params.limit//找多少條
                            };
                        },
                        idField: "customer_id",//指定主鍵列
                        columns: [
                            {
                                title: 'cName',//表的列名
                                field: 'cName',//json資料中rows陣列中的屬性名
                                align: 'center'//水平居中
                            },
                            {
                                title: 'cBirth',
                                field: 'cBirth',
                                align: 'center'
                            },
                            {
                                title: 'cAccount',
                                field: 'cAccount',
                                align: 'center'
                            },
                            {
                                //EMAIL
                                title: 'cPhone',
                                field: 'cPhone',
                                align: 'center'
                            },
                            {
                                //部門名字
                                title: 'cAddr',
                                field: 'cAddr',//可以直接取到屬性裡面的屬性，贊
                                align: 'center'
                            },
                           
                            {
                                title: '操作',
                                field: 'customer_id',
                                align: 'center',
                                formatter: function (value, row, index) {//自定義顯示可以寫標籤哦~
                                    return '<a href="#" mce_href="#" onclick="edit(\'' + row.customer_id + '\')">操作</a> ';
                                }
                            }
                
                        ]
                    });
                
                
                    t.on('load-success.bs.table', function (data) {//table載入成功後的監聽函式
                        console.log("load success");
                        $(".pull-right").css("display", "block");
                    });
                
                });
                </script>













            <div class="col-11 m-auto">
                <div class="card">
                    <div class="card-title pr">
                        <h4 class="text-center pt-3">會員資料</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <th>#</th>
                                    <th>姓名</th>
                                    <th>生日</th>
                                    <th>性別</th>
                                    <th>信箱</th>
                                    <th>電話</th>
                                    <th>地址</th>
                                </thead>
                                <tbody>
                                    <% data.forEach((item ,index)=> { %>
                                        <tr>
                                            <td>
                                                <%= index+1 %>
                                            </td>
                                            <td>
                                                <%= item.cName %>
                                            </td>
                                            <td>
                                                <%= item.cBirth %>
                                            </td>
                                            <td>
                                                <%= item.cgender %>
                                            </td>
                                            <td>
                                                <%= item.cAccount %>
                                            </td>
                                            <td>
                                                <%= item.cPhone %>
                                            </td>
                                            <td>
                                                <%= item.cAddr %>
                                            </td>
                                        </tr>
                                        <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>

            <a href="#">next</a>
        </div>
        <!-- Main Content end-->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>