<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/all.css">
    <script src="/js/admin/bootstrap.min.js"></script>
    <script src="/js/admin/jquery.min.js"></script>
    <script src="/js/admin/bb.js"></script>
    <link rel="icon" href="/img/admin/black_icon.png" type="image/gif" sizes="16x16">
    <title>f.pop 後台管理</title>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <style>
        .fp-item>li>span {
            padding: 15px;
        }

        .modal-inp {
            height: 35px;
            width: 200px;
            border: 1px solid #acacac;
            border-radius: 6px;
            font-size: 10px;
            margin: 5px 0;
            padding: 0 10px;
        }

        label,
        textarea {
            font-size: .9rem;
            letter-spacing: 1px;
        }

        textarea {
            padding: 10px;
            max-width: 100%;
            line-height: 1.5;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        label {
            display: block;
            margin-bottom: 10px;
        }

        .ellipsis {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            white-space: normal;
        }



        .dataTable-wrapper.no-footer .dataTable-container {
            border-bottom: 1px solid #d9d9d9;
        }

        .dataTable-top,
        .dataTable-bottom {
            padding: 8px 10px;
        }

        .dataTable-top>nav:first-child,
        .dataTable-top>div:first-child,
        .dataTable-bottom>nav:first-child,
        .dataTable-bottom>div:first-child {
            float: left;
        }

        .dataTable-top>nav:last-child,
        .dataTable-top>div:last-child,
        .dataTable-bottom>nav:last-child,
        .dataTable-bottom>div:last-child {
            float: right;
        }

        .dataTable-selector {
            padding: 6px;
        }

        .dataTable-input {
            padding: 6px 12px;
            border-radius: 5px;
            border: 1px solid;
        }

        .dataTable-info {
            margin: 7px 0;
        }

        /* PAGER */
        .dataTable-pagination ul {
            margin: 0;
            padding-left: 0;
        }

        .dataTable-pagination li {
            list-style: none;
            float: left;
        }

        .dataTable-pagination a {
            border: 1px solid transparent;
            float: left;
            margin-left: 2px;
            padding: 6px 12px;
            position: relative;
            text-decoration: none;
            color: #333;
        }

        .dataTable-pagination a:hover {
            background-color: #ffee6b;
            border-radius: 5px;
        }

        .dataTable-pagination .active a,
        .dataTable-pagination .active a:focus,
        .dataTable-pagination .active a:hover {
            background-color: #efefef;
            border-radius: 5px;
            cursor: default;
        }

        .dataTable-pagination .pager a {
            font-weight: bold;
        }

        /* TABLE */
        .dataTable-table {
            max-width: 100%;
            width: 100%;
            border-spacing: 0;
            border-collapse: separate;
        }

        .dataTable-table>tbody>tr>td,
        .dataTable-table>tbody>tr>th,
        .dataTable-table>tfoot>tr>td,
        .dataTable-table>tfoot>tr>th,
        .dataTable-table>thead>tr>td,
        .dataTable-table>thead>tr>th {
            vertical-align: top;
            padding: 15px 10px;
        }

        .dataTable-table>thead>tr>th {
            vertical-align: bottom;
            text-align: left;
            border-bottom: 1px solid #d9d9d9;
        }

        .dataTable-table>tfoot>tr>th {
            vertical-align: bottom;
            text-align: left;
            border-top: 1px solid #d9d9d9;
        }

        .dataTable-table th {
            vertical-align: bottom;
            text-align: left;
        }

        .dataTable-table th a {
            text-decoration: none;
            color: inherit;
        }

        .dataTable-sorter {
            display: inline-block;
            height: 100%;
            position: relative;
            width: 100%;
        }

        .dataTable-sorter::before,
        .dataTable-sorter::after {
            content: "";
            height: 0;
            width: 0;
            position: absolute;
            right: 4px;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            opacity: 0.2;
        }

        .dataTable-sorter::before {
            border-top: 4px solid #000;
            bottom: 0px;
        }

        .dataTable-sorter::after {
            border-bottom: 4px solid #000;
            border-top: 4px solid transparent;
            top: 0px;
        }

        .asc .dataTable-sorter::after,
        .desc .dataTable-sorter::before {
            opacity: 0.6;
        }

        .dataTables-empty {
            text-align: center;
        }

        .dataTable-top::after,
        .dataTable-bottom::after {
            clear: both;
            content: " ";
            display: table;
        }
    </style>
</head>

<body id="page-top">
    <%- include("admin_navbar.ejs") %>
        <!-- Main Content -->
        <div class="fpop-main p-5">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin/goods">首頁</a></li>
                    <li class="breadcrumb-item"><a href="#">商品管理</a></li>
                    <li class="breadcrumb-item active" aria-current="page">所有商品</li>
                </ol>
            </nav>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">

                        <div class="card mb-4">
                            <div class="card-header">
                                所有商品
                                <p>總商品數量 <%= total %> 件 <i class="bi bi-arrow-down-right-square">1</i></p>
                            </div>
                            <div class="card-body">
                                <button type="button" class="btn btn-dark mt-2" data-bs-toggle="modal"
                                    style="float:right" data-bs-target="#exampleModal">
                                    新增商品
                                </button>
                                <table id="datatablesSimple">

                                    <thead>
                                        <tr>

                                            <th class="col-1" style="vertical-align:text-top;">編號</th>
                                            <th class="col-2" style="vertical-align:text-top;">產品名稱</th>
                                            <th class="col-2" style="vertical-align:text-top;">圖片</th>
                                            <th class="col-1" style="vertical-align:text-top;">類別</th>
                                            <th class="col-3" style="vertical-align:text-top;">敘述</th>
                                            <th class="col-1" style="vertical-align:text-top;">價格</th>
                                            <th class="col-1" style="vertical-align:text-top;">上架日期</th>
                                            <th class="col-1 text-center" style="vertical-align:text-top;">庫存數量</th>
                                        </tr>
                                    </thead>

                                    <tbody class="card-body">
                                        <% data2.forEach((item ,index)=> { %>
                                            <tr>

                                                <td>
                                                    <%= item.product_code %>
                                                </td>

                                                <td>
                                                    <%= item.product_name%>
                                                </td>
                                                <td><img style="height: 50px;"
                                                        src="/img/product/<%= item.product_image %>" alt="">
                                                    <img style="height: 50px;"
                                                        src="/img/product/<%= item.product_image2 %>" alt="">
                                                    <img style="height: 50px;"
                                                        src="/img/product/<%= item.product_image3 %>" alt="">
                                                    <img style="height: 50px;"
                                                        src="/img/product/<%= item.product_image4 %>" alt="">
                                                </td>
                                                <td>
                                                    <%= item.product_category %>
                                                </td>
                                                <td>
                                                    <div class="box">
                                                        <p class="ellipsis">
                                                            <%= item.product_description %>
                                                        </p>
                                                    </div>
                                                </td>

                                                <td>
                                                    <%= item.product_price %> $
                                                </td>
                                                <td>
                                                    <%= moment(item.product_upload).format(shortDataFormat) %>
                                                </td>
                                                <td class="text-center">
                                                    10
                                                </td>

                                            </tr>
                                            <% }) %>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </main>

            </div>
            <div class="modal" id="exampleModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content" style="width: 600px;">
                        <button type="button" class="btn btn-danger m-3" data-bs-dismiss="modal"
                            style="width: 40px;float:right" aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                              </svg></button>

                        <div class="container-fluid" id="mainform">
                            <div class="mx-auto text-center">
                                <h5 style="font-weight: 700;">新品上架</h5>
                            </div>

                            <form class="form-horizontal" role="form" method="post" action="/admin/goods/item_all"
                                enctype="multipart/form-data">
                                <div>
                                    <div class="mx-5 row">
                                        <div class="col-4 mx-5">
                                            <label class="btn btn-outline-dark">
                                                <input class="form-control mt-3" style="display:none;" type="file"
                                                    name="product_image" onchange="readURL(this)"
                                                    targetID="preview_progressbarTW_img"
                                                    accept="image/gif, image/jpeg, image/png">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                    fill="currentColor" class="bi bi-card-image" viewBox="0 0 16 16">
                                                    <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                                    <path
                                                        d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z" />
                                                </svg> 上傳圖片
                                            </label>
                                        </div>
                                        <img class="col-5 mt-3" id="preview_progressbarTW_img" src="" />
                                    </div>
                                    <div class="mx-5 row">
                                        <div class="col-4 mx-5">
                                            <label class="btn btn-outline-dark">
                                                <input class="form-control mt-3" style="display:none;" type="file"
                                                    name="product_image2" onchange="readURL1(this)"
                                                    targetID1="preview_progressbarTW_img1"
                                                    accept="image/gif, image/jpeg, image/png">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                    fill="currentColor" class="bi bi-card-image" viewBox="0 0 16 16">
                                                    <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                                    <path
                                                        d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z" />
                                                </svg> 上傳圖片
                                            </label>
                                        </div>
                                        <img class="col-5 mt-3" id="preview_progressbarTW_img1" src="" />
                                    </div>
                                    <div class="mx-5 row">
                                        <div class="col-4 mx-5">
                                            <label class="btn btn-outline-dark">
                                                <input class="form-control mt-3" style="display:none;" type="file"
                                                    name="product_image3" onchange="readURL2(this)"
                                                    targetID2="preview_progressbarTW_img2"
                                                    accept="image/gif, image/jpeg, image/png">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                    fill="currentColor" class="bi bi-card-image" viewBox="0 0 16 16">
                                                    <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                                    <path
                                                        d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z" />
                                                </svg> 上傳圖片
                                            </label>
                                        </div>
                                        <img class="col-5 mt-3" id="preview_progressbarTW_img2" src="" />
                                    </div>
                                </div>

                                <div>
                                    <label class="mx-5">產品名稱</label>
                                    <div class="mx-5">
                                        <input type="text" class="form-control col-7 mt-3" name="product_name"
                                            placeholder="產品名稱">
                                    </div>
                                </div>
                                <div>
                                    <label for="product_category" class="mx-5">類別</label>
                                    <div class="mx-5">
                                        <select class="custom-select col-7 mt-3" name="product_category"
                                            data-table="order-table">
                                            <option data-content="<i class='bi bi-x'></i>">上衣</option>
                                            <option>下著</option>
                                            <option>鞋</option>
                                            <option>包</option>
                                            <option>洋裝</option>
                                            <option>帽子</option>
                                        </select>
                                    </div>
                                </div>
                                <div>
                                    <label for="product_gender" class="mx-5">F / M</label>
                                    <div class="mx-5">
                                        <select class="custom-select col-7 mt-3" name="product_gender"
                                            data-table="order-table">
                                            <option>Female</option>
                                            <option>Male</option>
                                        </select>
                                    </div>
                                </div>
                                <div>
                                    <label class="mx-5">產品敘述</label>
                                    <div class="mx-5">
                                        <textarea class="col-7 mt-3" name="product_description" rows="5" cols="33"
                                            required>輸入文字..
                                            </textarea>
                                    </div>
                                </div>
                                <div>
                                    <label class="mx-5">產品成分</label>
                                    <div class="mx-5">
                                        <textarea class="col-7 mt-3" name="product_composition" rows="5" cols="33"
                                            required>輸入文字..
                                            </textarea>
                                    </div>
                                </div>

                                <div>
                                    <label for="product_price" class="mx-5">產品價格</label>
                                    <div class="mx-5 ">
                                        <input type="text" class="form-control col-7 mt-3" name="product_price"
                                            placeholder="產品價格">
                                    </div>
                                </div>

                                <div>
                                    <label for="product_price" class="mx-5">產品編號</label>
                                    <div class="mx-5 ">
                                        <input type="text" class="form-control col-7 mt-3" name="product_code"
                                            placeholder="產品編號">
                                    </div>
                                </div>

                                <!-- Button -->
                                <div class="mx-5 ">
                                    <button id="btn-signup" type="submit" class="btn btn-info mt-5 mb-5">
                                        <i class="icon-hand-right"></i> 送出</button>
                                    <!-- &nbsp -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>

            $(document).ready(function () {
                $('#dataTable').DataTable();
            });


            function readURL(input) {
                if (input.files && input.files[0]) {
                    var imageTagID = input.getAttribute("targetID");
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        var img = document.getElementById(imageTagID);
                        img.setAttribute("src", e.target.result)
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            function readURL1(input) {
                if (input.files && input.files[0]) {
                    var imageTagID1 = input.getAttribute("targetID1");
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        var img = document.getElementById(imageTagID1);
                        img.setAttribute("src", e.target.result)
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            function readURL2(input) {
                if (input.files && input.files[0]) {
                    var imageTagID2 = input.getAttribute("targetID2");
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        var img = document.getElementById(imageTagID2);
                        img.setAttribute("src", e.target.result)
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            (function (document) {
                'use strict';

                // 建立 LightTableFilter
                var LightTableFilter = (function (Arr) {

                    var _input;

                    // 資料輸入事件處理函數
                    function _onInputEvent(e) {
                        _input = e.target;
                        var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
                        Arr.forEach.call(tables, function (table) {
                            Arr.forEach.call(table.tBodies, function (tbody) {
                                Arr.forEach.call(tbody.rows, _filter);
                            });
                        });
                    }

                    // 資料篩選函數，顯示包含關鍵字的列，其餘隱藏
                    function _filter(row) {
                        var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
                        row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
                    }

                    return {
                        // 初始化函數
                        init: function () {
                            var inputs = document.getElementsByClassName('light-table-filter');
                            Arr.forEach.call(inputs, function (input) {
                                input.oninput = _onInputEvent;
                            });
                        }
                    };
                })(Array.prototype);

                // 網頁載入完成後，啟動 LightTableFilter
                document.addEventListener('readystatechange', function () {
                    if (document.readyState === 'complete') {
                        LightTableFilter.init();
                    }
                });

            })(document);

            window.addEventListener('DOMContentLoaded', event => {


                const datatablesSimple = document.getElementById('datatablesSimple');
                if (datatablesSimple) {
                    new simpleDatatables.DataTable(datatablesSimple);
                }
            });

        </script>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>