<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="/css/all.css">
    <script src="/js/member/jquery.min.js"></script>
    <script src="/js/member/popper.min.js"></script>

    <style>
 /* .row-box{
            background-color: rgb(249, 249, 249);
            border-radius: 30px;
            box-shadow: 12px 12px 22px grey;
        } */


    </style>
</head>

<body>
        <!-- content -->
                <%- include("navbar.ejs") %>
            <div class="container">
                <%- include("template/loginbar") %>
                <% if (errorMessage.length > 0) { %>
                    <div class="alert alert-danger col-lg-7 mt-3 p-3" role="alert">
                      <%= errorMessage %>
                    </div>
                    <% } %>

                 
                <!-- 左邊選單列 -->
                <div class="row pb-3 mt-5">
                    <div class="col-2">
                        <p><a href="#" class="nav-link font-weight-bold  text-dark">個人資料</a></p>
                        <p><a href="" class="nav-link text-dark">訂單&退貨</a></p>
                        <p><a href="" class="nav-link text-dark">我的最愛</a></p>
                    </div>
                    
                    <!-- 右邊資訊欄 -->
                 <% if(memberprofile) { %> 

                    <div class="col-10 row-box">
                        <h2 class="text-center p-2" style="border-bottom: 2px solid #7CAABA;">個人資料</h2>
                        
                        <h3 class="py-2">我的資料：</h3>
                        <div class="row ">
                            <div class="col-12 my-3">姓名：<span><%- memberprofile.cName  %></span></div>
                            <div class="col-12 my-3" >生日：<span><%- memberprofile.cBirth  %></span> </div>
                            <div class="col-12 my-3" >性別：<span><%- memberprofile.cgender  %></span>  </div>
                            <div class="col-12 my-3" >聯絡電話：<span><%- memberprofile.cPhone  %></span> </div>
                            <div class="col-12 my-3">居住地址：<span><%- memberprofile.cAddr  %></span></div>
                            <div class="col-12 my-3">電子郵件：<span><%- memberprofile.cAccount  %></span>
                            </div>
                        </div>
                        <a class="btn btn-outline-dark my-3 " href="/home/member/memberData_edit">編輯</a>
                        <% } else { %>
                        <div class="alert alert-warning col-10 text-center align-self-center " role="alert">請先登入</div>
                        <%   } %>      
                    </div>
            </div>
  
    <!-- footer -->
    <footer class="footer">
        <%- include("footer.ejs") %>
    </footer>
</body>

</html>