<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/js/member/member.css">
    <link rel="stylesheet" href="/js/member/bootstrap-4.6.1-dist/css/bootstrap.css">
    <script src="/js/member/bootstrap-4.6.1-dist/js/jquery.min.js"></script>
    <!-- <script src="/bootstrap-4.6.1-dist/js/popper.min.js"></script> -->
    <!-- <script src="../node_modules/bootstrap/dist/js/bootstrap.js" ></script> -->
    <script src="/js/member/bootstrap-4.6.1-dist/js/bootstrap.min.js"></script>
   <!-- <script src="/js/member/LeftNavBar.js"></script> -->


   <style>
       .btn_cancel{
            height: 40px;
            width: 20%;
            border: none;
            outline: none;
            background-color: white;
            color: black;
            border-radius: 5px;
       }
       .btn_cancel:hover{
            background-color: #FFE200;
            color: black;
            border: 1px solid;
            border: none;
        }

    </style>
</head>
 
<body>
        <!-- content -->
                <%- include("navbar.ejs") %>

            <div class="container">
                
                <%- include("template/loginbar") %>
       
                <!-- 左邊選單列 -->
                <div class="row mt-4">
                  <div class="col-12 col-lg-2 text-center mb-4 ">
                      <p class="mb-3 col-4 col-lg-12 d-lg-block d-inline"><a href="/home/member/memberData" class="nav-link text-dark font-weight-bold memberData d-inline d-lg-block">個人資料</a></p>
                      <p class="mb-3 col-4 col-lg-12 d-lg-block d-inline" ><a href="/home/member/orderList" class="nav-link text-dark d-inline d-lg-block">訂單&退貨</a></p>
                      <p class="mb-3 col-4 col-lg-12 d-lg-block d-inline"><a href="/home/member/myFavourite" class="nav-link text-dark orderList myFavourite d-inline d-lg-block">我的最愛</a></p>
                  </div> 
         
                    <!-- 右邊資訊欄 -->
                    <% if(memberprofile) { %> 
                      <div class="col-12 col-lg-10 row-box p-3 mb-5">
                        <div class="row">
                            <a href="/home/member/memberData" class="col-6 text-center p-2 title_1"><h4>個人資料</h4></a>
                            <a href="/home/member/memberData_changePw" class="col-6 text-center p-2 title_2"><h4>變更密碼</h4></a>
                         </div>
                        
                        <p class="p-2 mt-4 title_3" style="font-weight:700 ;">我的資料：</p>

                        <form action="/home/member/memberData" method="POST" class="row p-3">
                            <div class="col-2 my-3 text-right ">姓名</div><div class="col-10 my-3  aa "><%- memberprofile.cName  %></div>
                            <div class="col-2 my-3 text-right ">生日</div><div class="col-10 my-3 text-left"><%- memberprofile.cBirth  %></div>
                            <div class="col-2 my-3 text-right ">性別</div><div class="col-10 my-3 text-left"><%- memberprofile.cgender  %></div>
                            <div class="col-2 my-3 text-right ">聯絡電話</div><div class="col-10 my-3 text-left"><input type="text" id="memberPhone" name="cPhone" class="form-control form-control-sm col-7" value="<%- memberprofile.cPhone%>"></div>
                            <div class="col-2 my-3 text-right">居住地址</div><div class="col-10 my-3 text-left"><input type="text" id="memberAddr" name="cAddr" class="form-control form-control-sm col-7" value="<%- memberprofile.cAddr%>">  </div>
                            <div class="col-2 my-3 text-right">電子郵件</div><div class="col-10 my-3 text-left" name="cAccount"><%- memberprofile.cAccount  %></div>
                            <!-- <div class="col-6 my-3 text-right"> <a class="btn btn-outline-dark" href="/home/member/memberData_edit">取消</a></div> -->
                            <div class="col-6 my-3 text-right"> <button id="changeCancel" class="btn_cancel" type="button">取消</button></div>
                                 <script>
                                   changeCancel.onclick = function(){
                                       $('#memberPhone').prop("value","<%-memberprofile.cPhone %>");
                                       $('#memberAddr').prop("value", "<%- memberprofile.cAddr %>");
                                                                     }

                                    //   var elm =document.getElementsByClassName('aa');
                                    //    console.log(elm);
                                    //    elm[0].className += 'font-weight-bold';
                                        
                                 </script>
                            <!-- <div class="col-6 my-3 text-left"> <button class="btn_GO" type="submit">儲存</button></div> -->

                            <div class="col-6 my-3 text-left"> <button type="button" class="btn_GO" data-toggle="modal" data-target="#staticBackdrop">儲存</button></div>
              
                             <!-- Modal -->
                             
                             <div class="modal fade " id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                               <div class="modal-dialog">
                                 <div class="modal-content">
                                   <div class="modal-header">
                                     <h5 class="modal-title" id="staticBackdropLabel">變更個人資料</h5>
                                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                       <span aria-hidden="true">&times;</span>
                                     </button>
                                   </div>
                                   <div class="modal-body">
                                    確定要變更個人資料嗎？
                                   </div>
                                   <div class="modal-footer">
                                     <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                     <button type="submit" class="btn_GO">確定</button>
                                   </div>
                                 </div>
                               </div>
                             </div>
                        </form>
                         <% } else { %>
                          <div class="alert alert-warning col-12 col-lg-10 text-center align-self-center" role="alert">請先登入</div>
                          
                            <%   } %> 
                    </div>  <!-- col-10 -->
                    <br>
                </div>  <!-- row -->
                    
            </div>  <!-- container -->

         <!-- footer -->
            <%- include("footer.ejs") %>
</body>

</html>