<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>assd</title>
    <link rel="stylesheet" type="text/css" href="/css/all.css" />
    <script src="/js/shop_cart/cookie.js"></script>
    <script
      src="https://kit.fontawesome.com/93e1c8f0af.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/shop_cart/jquery.js"></script>

    <style>
      .owl-theme .owl-dots .owl-dot span {
        display: none;
      }
    </style>
  </head>

  <body>
    <div class="wrapper">
      <%- include("navbar.ejs") %> <%if(memberprofile){%>
      <span id="member" style="display: none"><%- memberprofile.cName %></span>
      <% } %>
      <table>
        <thead>
          <th colspan=""></th>
        </thead>
      </table>
      <!-- outline_class  oib oig oi  oir-->
      <div class="container">
        <%- include("template/loginbar") %>
        <div class="cart_content">
          <div class="row content_text">
            <div class="col-9" style="padding: 0">
              <div class="row cart_banner">
                <div class="col-12 top_link">
                  <ul class="cart-link">
                    <li><a href="/">首頁</a></li>
                    <li>
                      <a href="#">購物車</a>
                    </li>
                  </ul>
                </div>
                <div class="col-12 mid mb-3">
                  <h6 style="font-size: 1.2em; font-weight: 900">購物車</h6>
                </div>
                <div class="col-12 cart-step">
                  <ul class="fz-dark">
                    <li style="color: #000">
                      <span style="background-color: #000">1</span>
                      查看購物車
                    </li>
                    <li>
                      <span>2</span>
                      訂單確認
                    </li>
                    <li>
                      <span>3</span>
                      訂單完成
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-3"></div>
          </div>
          <div class="row content_pid">
            <div class="col-9">
              <div class="cart container-fluid">
                <div class="row fz-dark cart_title">
                  <div class="col-2">
                    <input type="checkbox" class="to_ck" checked />全選
                  </div>
                  <div class="col-3">商品名稱</div>
                  <div class="col-2">金額</div>
                  <div class="col-2">數量</div>
                  <div class="col">小計</div>
                  <div class="col"></div>
                </div>
              </div>

              <div id="css_tbody" class="container-fluid css_tbody">
                <% if(cart){ %> <% cart.forEach(function(item){ %>
                <div class="row product" style="padding: 0 18px 11px 18px">
                  <div class="col-2 css_tb d-flex">
                    <div style="margin-right: 5px">
                      <input type="checkbox" class="ck" checked />
                    </div>
                    <div
                      style="
                        max-height: 134px;
                        max-width: 93px;
                        height: 100%;
                        width: 100%;
                      "
                    >
                      <img
                        class="pImg"
                        style="width: 100%; height: 100%"
                        src="/img/product/<%- item.image %>"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="col-3 css_tb align-self-center">
                    <p class="pDesc" style="margin-bottom: 10px">
                      <%- item.name %>
                    </p>
                    <p class="pColor">顏色:<%- item.color %></p>
                    <p class="pSize">尺寸:<%- item.size %></p>
                  </div>
                  <div class="col-2 css_tb align-self-center">
                    NT$ <span class="price"> <%- item.price %> </span>
                  </div>
                  <div class="col-2 css_tb pCount align-self-center">
                    <span style="border: 1px solid #000; padding: 6px 0">
                      <a
                        href="javascript:"
                        class="q_sub"
                        data-allId="<%- item.all_id %>"
                        style="
                          padding: 6px;
                          border: 1px solid #000;
                          color: #000;
                        "
                        >-</a
                      >
                      <input
                        type="text"
                        id="number"
                        value="<%- item.quantity %>"
                        style="width: 25px; border: none; text-align: center"
                      />
                      <a
                        href="javascript:"
                        class="q_add"
                        data-allId="<%- item.all_id %>"
                        style="
                          padding: 6px;
                          border: 1px solid #000;
                          color: #000;
                        "
                        >+</a
                      >
                    </span>
                  </div>
                  <% let toP=item.quantity * item.price %>
                  <div class="col css_tb align-self-center">
                    NT$ <span class="to_price"> <%- toP %> </span>
                  </div>
                  <div class="col css_tb align-self-center">
                    <a
                      style="color: #000"
                      href="javascript:"
                      class="del"
                      data-allId="<%- item.all_id %>"
                      ><i class="fa-solid fa-trash-can"></i
                    ></a>
                  </div>
                </div>
                <% }); %> <% } %>
              </div>
            </div>

            <div class="col-3" style="padding: 0">
              <div class="div cart_Order">
                <div style="text-align: center">
                  <p>訂單確認</p>
                </div>
                <div class="py-2">
                  <p>
                    <b>總計商品件數:</b>
                    <span class="float-right"
                      ><span id="total_count">0</span> 件</span
                    >
                  </p>
                  <p>
                    <b>小計:</b
                    ><span class="float-right"
                      >NT$<span id="total_price">0</span></span
                    >
                  </p>
                  <p>
                    <b>運費:</b
                    ><span class="float-right"
                      >NT$<span id="fare" class="fare">0</span></span
                    >
                  </p>
                </div>
                <div class="py-3" class="canFare" id="canFare">
                  只差NT$ <span>0</span>，即可享有免費標準運送。
                </div>
                <div class="pt-2 mb-4">
                  <p>
                    <b>總額:</b
                    ><span class="float-right"
                      >NT$<span id="tototoPrice">0</span></span
                    >
                  </p>
                </div>
                <form
                  action="/home/shop_cart/orderCheck"
                  class="text-center"
                  id="buy"
                >
                  <button id="sub" type="submit">結帳</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <hr style="border-top: 0.9px solid #000" />
        <div class="container">
          <div class="row">
            <div style="font-weight: 900" class="col text-center mb-5 mt-2">
              熱門商品
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="owl-carousel owl-theme">
                <% result.forEach(function(item){ %>
                <div class="item">
                  <div>
                    <a
                      href="/home/product/<%- item.product_gender %>/single_product/<%- item.product_id %>"
                    >
                      <div class="img">
                        <img
                          style="width: 100%; height: 100%; border-radius: 2px"
                          src="/img/product/<%- item.product_image %>"
                          alt=""
                        />
                      </div>
                    </a>
                  </div>

                  <div
                    style="
                      font-weight: 700;
                      text-align: center;
                      margin-top: 7px;
                      font-size: 0.9em;
                    "
                  >
                    <p><%- item.product_name %></p>
                  </div>
                </div>
                <% }); %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="push"></div>
    </div>
    <footer class="footer"><%- include("footer.ejs") %></footer>
    <script>
      $(document).ready(function () {
        //更新總數量
        var total_count = 0;
        $("#css_tbody .product").each(function (idx, ele) {
          total_count += parseInt($(ele).find("#number").val());
        });
        $("#total_count").text(total_count.toString());

        //更新總價格
        var total_price = 0;
        $("#css_tbody .product").each(function (idx, ele) {
          total_price += parseInt($(ele).find(".to_price").text());
        });
        $("#total_price").text(total_price.toString());

        //更新運費
        var fare = 1000;

        if (total_price >= fare) {
          console.log($(".canFare").html());
          $("#fare").html("0");
          $("#canFare").html("<p>免費標準運送。</p>");
        } else {
          console.log("B");

          var diff = 0;
          diff = fare - total_price;
          $("#fare").html("60");
          $("#canFare ").html(
            `只差NT$ <span>${diff.toString()}</span>，即可享有免費標準運送。`
          );
        }

        //更新總額
        var P_fare = parseInt($("#fare").html());
        var tototoPrice = 0;
        tototoPrice = P_fare + total_price;
        $("#tototoPrice").html(tototoPrice.toString());

        //商品增加
        $(".q_add").click(function () {
          var num = 0;
          num++;
          var Count = parseInt($(this).siblings("#number").val());
          var to_Count = parseInt(Count + num);
          var price = parseInt($(this).parent().parent().find(".price").text());
          var to_price = 0;
          to_price = price * to_Count;
          console.log(to_price);
          $(this).siblings("#number").val(to_Count);
          $(this).parent().parent().find(".to_price").html(to_price.toString());

          //更新總數量
          var total_count = 0;
          $("#css_tbody .product").each(function (idx, ele) {
            total_count += parseInt($(ele).find("#number").val());
          });
          $("#total_count").text(total_count.toString());

          //更新總小計
          var total_price = 0;
          $("#css_tbody .product").each(function (idx, ele) {
            total_price += parseInt($(ele).find(".to_price").text());
          });
          $("#total_price").text(total_price.toString());

          //更新運費
          var fare = 1000;

          if (total_price >= fare) {
            $("#fare").html("0");
            $("#canFare").html("<p>免費標準運送。</p>");
          } else {
            var diff = 0;
            diff = fare - total_price;
            $("#fare").html("60");
            $("#canFare ").html(
              `只差NT$ <span>${diff.toString()}</span>，即可享有免費標準運送。`
            );
          }

          //更新總額
          var P_fare = parseInt($("#fare").html());
          var tototoPrice = 0;
          tototoPrice = P_fare + total_price;
          $("#tototoPrice").html(tototoPrice.toString());

          let all_id = {};
          all_id.allId = $(this).attr("data-allId");

          $.ajax({
            url: "/home/shop_cart/q_add",
            type: "POST",
            data: all_id,
            success: function (res) {
              // console.log("新增");
            },
            error: function () {
              alert("系統錯誤");
            },
          });
        });

        //商品減少
        $(".q_sub").click(function () {
          var Count = parseInt($(this).siblings("#number").val());

          if (Count <= 1) {
            Count = 1;
          } else {
            Count--;
            var price = parseInt(
              $(this).parent().parent().find(".price").text()
            );
            var to_price = 0;
            to_price = price * Count;
            console.log(to_price);
            $(this)
              .parent()
              .parent()
              .find(".to_price")
              .html(to_price.toString());
            $(this).siblings("#number").val(Count);

            //更新總數量
            var total_count = 0;
            $("#css_tbody .product").each(function (idx, ele) {
              total_count += parseInt($(ele).find("#number").val());
            });
            console.log(total_count);
            $("#total_count").text(total_count.toString());

            //更新總小計
            var total_price = 0;
            $("#css_tbody .product").each(function (idx, ele) {
              total_price += parseInt($(ele).find(".to_price").text());
            });
            $("#total_price").text(total_price.toString());

            let all_id = {};
            all_id.allId = $(this).attr("data-allId");

            //更新運費
            var fare = 1000;

            if (total_price >= fare) {
              $("#fare").html("0");
              $("#canFare").html("<p>免費標準運送。</p>");
            } else {
              var diff = 0;
              diff = fare - total_price;
              $("#fare").html("60");
              $("#canFare ").html(
                `只差NT$ <span>${diff.toString()}</span>，即可享有免費標準運送。`
              );
            }

            //更新總額
            var P_fare = parseInt($("#fare").html());
            var tototoPrice = 0;
            tototoPrice = P_fare + total_price;
            $("#tototoPrice").html(tototoPrice.toString());

            $.ajax({
              url: "/home/shop_cart/q_sub",
              type: "POST",
              data: all_id,
              success: function (res) {
                console.log("成功");
              },
              error: function () {
                alert("系統錯誤");
              },
            });
          }
        });

        // $("#total_count").

        // 刪除按鈕
        $(".del").click(function (x) {
          if (confirm("確定刪除此商品")) {
            let all_id = {};
            all_id.allId = $(this).attr("data-allId");
            console.log(all_id);

            $(this).parent().parent().remove();
            $.ajax({
              url: "/home/shop_cart/del",
              type: "POST",
              data: all_id,

              success: function (res) {
                console.log("已刪除");
                //更新總數量
                var total_count = 0;
                $("#css_tbody .product").each(function (idx, ele) {
                  total_count += parseInt($(ele).find("#number").val());
                });
                $("#total_count").text(total_count.toString());

                //更新總小計
                var total_price = 0;
                $("#css_tbody .product").each(function (idx, ele) {
                  total_price += parseInt($(ele).find(".to_price").text());
                });
                $("#total_price").text(total_price.toString());

                //更新運費
                var fare = 1000;

                if (total_price >= fare) {
                  $("#fare").html("0");
                  $("#canFare").html("<p>免費標準運送。</p>");
                } else {
                  var diff = 0;
                  diff = fare - total_price;
                  $("#fare").html("60");

                  $("#canFare ").html(
                    `只差NT$ <span>${diff.toString()}</span>，即可享有免費標準運送。`
                  );
                }

                //更新總額
                var P_fare = parseInt($("#fare").html());
                var tototoPrice = 0;
                tototoPrice = P_fare + total_price;
                $("#tototoPrice").html(tototoPrice.toString());
              },
              error: function () {
                alert("系統錯誤");
              },
            });
          }
        });
        $("#sub").click(function () {
          if ($("#css_tbody ").has(".product").length ? true : false) {
            if ($("#member").length ? true : false) {
              // $.ajax({
              //   url:"/home/shop_cart/orderCheck",
              //   type:"GET",
              //   success:function(res){
              //     console.log("傳送成功");
              //   },
              //   error:function(){
              //     console.log("傳送失敗")
              //   }
              // });
              $("#buy").prop("action", "/home/shop_cart/orderCheck");
              alert("已登入");
              return true;
            } else {
              $("#buy").prop("action", "/home/member/login");
              alert("請先登入");
              return true;
            }
          } else {
            alert("目前沒有任何商品");
            return false;
          }
        });
      }); //準備結束
    </script>

    <script src="/js/shop_cart/owl.carousel.js"></script>
    <!-- <script src="/js/shop_cart/server.js"></script> -->
    <!-- <script src="/js/shop_cart/cart.js"></script> -->
    <script src="/js/shop_cart/owl.js"></script>
    <script src="/js/shop_cart/bootstrap.js"></script>
  </body>
</html>
