<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>assd</title>
    <link rel="stylesheet" type="text/css" href="/css/all.css" />
    <script src="/js/shop_cart/cookie.js"></script>
    <script
      src="https://kit.fontawesome.com/93e1c8f0af.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/shop_cart/jquery.js"></script>
  </head>

  <body>
    <div class="wrapper">
      <%- include("navbar.ejs") %>
      <table>
        <thead>
          <th colspan=""></th>
        </thead>
      </table>
      <!-- outline_class  oib oig oi  oir-->
      <div class="container">
        <div class="cart_content">
          <div class="row content_text">
            <div class="col-9" style="padding: 0">
              <div class="row cart_banner">
                <div class="col-12 top_link">
                  <ul class="cart-link">
                    <li><a href="/">首頁</a></li>
                    <li>
                      <a href="#">購物車</a>
                    </li>
                  </ul>
                </div>
                <div class="col-12 mid mb-3">
                  <h6 style="font-size: 1.2em; font-weight: 900">購物車</h6>
                </div>
                <div class="col-12 cart-step">
                  <ul class="fz-dark">
                    <li style="color: #000">
                      <span style="background-color: #000">1</span>
                      查看購物車
                    </li>
                    <li>
                      <span>2</span>
                      訂單確認
                    </li>
                    <li>
                      <span>3</span>
                      訂單完成
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-3"></div>
          </div>
          <div class="row content_pid">
            <div class="col-9">
              <div class="cart container-fluid">
                <div class="row fz-dark cart_title">
                  <div class="col-2">
                    <input type="checkbox" class="to_ck" checked />全選
                  </div>
                  <div class="col-3">商品名稱</div>
                  <div class="col-2">金額</div>
                  <div class="col-2">數量</div>
                  <div class="col">小計</div>
                  <div class="col"></div>
                </div>
              </div>

              <div id="css_tbody" class="container-fluid css_tbody">
                <% if(cart){ %> <% cart.forEach(function(item){ %>
                <div class="row product">
                  <div class="col-2 css_tb d-flex">
                    <div>
                      <input type="checkbox" class="ck" checked />
                    </div>
                    <div
                      style="
                        max-height: 134px;
                        max-width: 93px;
                        height: 100%;
                        width: 100%;
                      "
                    >
                      <img
                        class="pImg"
                        style="width: 100%; height: 100%"
                        src="/img/product/<%- item.image %>"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="col-3 css_tb align-self-center">
                    <p class="pDesc" style="margin-bottom: 10px">
                      <%- item.name %>
                    </p>
                    <p class="pColor">顏色:<%- item.color %></p>
                    <p class="pSize">尺寸:<%- item.size %></p>
                  </div>
                  <div class="col-2 css_tb price align-self-center">
                    NT$<%- item.price %>
                  </div>
                  <div class="col-2 css_tb pCount align-self-center">
                    <a
                      href="javascript:"
                      class="q_sub"
                      style="padding: 2px; border: 1px solid #000"
                      >-</a
                    >
                    <input
                      type="text"
                      id="number"
                      value="<%- item.quantity %>"
                      style="width: 25px; text-align: center"
                    />
                    <a
                      href="javascript:"
                      class="q_add"
                      style="padding: 2px; border: 1px solid #000"
                      >+</a
                    >
                  </div>
                  <div class="col css_tb to_price align-self-center">NT$</div>
                  <div class="col css_tb align-self-center">
                    <a href="#" class="del"
                      ><i class="fa-solid fa-trash-can"></i
                    ></a>
                  </div>
                </div>
                <% }); %> <% } %>
              </div>
            </div>

            <div class="col-3" style="padding: 0">
              <div class="div cart_Order">
                <div style="text-align: center">
                  <p>訂單確認</p>
                </div>
                <div class="py-2">
                  <p>
                    <b>總計商品件數:</b>
                    <span class="float-right"
                      ><span id="total_count">0</span> 件</span
                    >
                  </p>
                  <p>
                    <b>小計:</b
                    ><span class="float-right"
                      >NT$<span id="total_price">0</span></span
                    >
                  </p>
                  <p>
                    <b>運費:</b
                    ><span class="float-right">NT$<span>0</span></span>
                  </p>
                </div>
                <div class="py-3">
                  只差NT$ <span>0</span>，即可享有免費標準運送。
                </div>
                <div class="pt-2 mb-4">
                  <p>
                    <b>總額:</b
                    ><span class="float-right">NT$<span>0</span></span>
                  </p>
                </div>
                <form
                  action="/home/shop_cart/orderCheck"
                  class="text-center"
                  id="buy"
                >
                  <button id="sub" type="submit">結帳</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <hr style="border-top: 0.9px solid #000" />
        <div class="container">
          <div class="row">
            <div style="font-weight: 900" class="col text-center mb-5 mt-2">
              熱門商品
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="owl-carousel owl-theme">
                <div class="item">
                  <div class="img"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="push"></div>
    </div>
    <footer class="footer"><%- include("footer.ejs") %></footer>
    <script>
      $(document).ready(function(){
//商品增加
$(".q_add").click(function () {
          var num = 0;
          num++;
          var Count = parseInt($(this).siblings("#number").val());
          var to_Count = parseInt(Count + num);
          $(this).siblings("#number").val(to_Count);
          let quantity = $("#number").val();

          // $(this).siblings("#number").val();
        });

        //商品減少
        $(".q_sub").click(function () {
          var Count = parseInt($(this).siblings("#number").val());
          Count--;

          if (Count < 1) {
            Count = 1;
          } else {
            $(this).siblings("#number").val(Count);
          }
        });

      })
     
    </script>

    <script src="/js/shop_cart/owl.carousel.js"></script>
    <!-- <script src="/js/shop_cart/server.js"></script> -->
    <!-- <script src="/js/shop_cart/cart.js"></script> -->
    <script src="/js/shop_cart/owl.js"></script>
    <script src="/js/shop_cart/bootstrap.js"></script>
  </body>
</html>
