<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>function.pop</title>
    <link rel="stylesheet" href="/css/all.css" />
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css" />
    <!-- <link rel="stylesheet" href="./assets/css/TonyCss.css"> -->
    <style>
      /* My hr tag */
      .my_hr {
        width: 130px;
        background-color: orange;
        height: 3px;
      }

      .my_product {
        cursor: pointer;
        margin-bottom: 2rem;
      }

      .my_product img {
        transition: 0.3s all;
      }

      .my_product:hover img {
        opacity: 0.7;
      }

      /* 24. Featured Design */
      .my_product .buy-btn {
        color: #ffe200;
        transform: translateY(50px);
        opacity: 0;
        transition: 0.3s all;
        background-color: #395d6c;
      }

      .my_product:hover .buy-btn {
        transform: translateY(0px);
        opacity: 1;
      }

      .my_button {
        font-size: 0.8rem;
        font-weight: 900;
        outline: none;
        border: none;
        background-color: #1d1d1d;
        color: aliceblue;
        padding: 13px 30px;
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.5s ease;
      }

      .my_button:hover {
        background-color: coral;
      }

      /*  */
      /* Product Detail Page */
      /*  */
      #mainImg {
        border: 2px solid gray;
      }

      .small-img-group {
        display: flex;
        justify-content: space-between;
      }

      .small-img-col {
        flex-basis: 23%;
        cursor: pointer;
        margin-top: 12px;
        opacity: 0.6;
      }

      .small-img-col:hover {
        opacity: 0.9;
      }

      /* 39. Single Product Design */
      .single-product input {
        width: 50px;
        height: 40px;
        padding-left: 10px;
        font-size: 16px;
        margin-right: 10px;
      }

      .single-product input:focus {
        outline: none;
      }

      .single-product .buy-btn {
        background-color: #fb774b;
        opacity: 1;
        transition: 0.4s all;
      }

      .single-product .buy-btn:hover {
        background-color: #222222;
      }

      /* Ryan新增 */

      @keyframes fadeInDown {
        0% {
          opacity: 0;
          transform: translate3d(0, -100%, 0);
        }
        50% {
          transform: translate3d(0, 0, 0);
        }
        100% {
          opacity: 1;
        }
      }
      @keyframes fadeOutUp {
        0% {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
        50% {
          transform: translate3d(0, -100%, 0);
        }
        100% {
          opacity: 0;
        }
      }

      * {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      a {
        text-decoration: none;
      }
      /* .pcount {
      } */
      .pcount a {
        border: 1px solid #000;
        padding: 3px;
      }
      .number {
        width: 50px;
        text-align: center;
      }
      .pid {
        text-align: center;
      }
      .pcolor a:hover {
        border: 1px solid #f00;
      }
      .pcolor-active {
        border: 1px solid #f00;
      }
      .psize button {
        width: 30px;
      }
      .psize-active {
        background-color: #000;
        color: #fff;
      }
      .fadeInDown {
        animation-name: fadeInDown;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
      }
      .fadeOutUp {
        animation-name: fadeOutUp;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
      }
      .al {
        z-index: 9999;
        border: 1px solid #000;
        width: 30%;
        text-align: center;
        padding: 20px 0;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
      }
    </style>
  </head>
  <body>
    <!-- 0. Wraper -->
    <div class="wrapper">
      <!-- 1. NAvbar -->
      <%- include("navbar.ejs") %>

      <!-- 2. Breadcrumb -->

      <section>
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/home"><i class="fas fa-home"  style="color: black;"></i><span style="color: black;">首頁</span></a>
              </li>
              <li class="breadcrumb-item">
                <a href="/home/product/<%= result[0].product_gender %>"
                  ><span style="color: black;"><%= result[0].product_gender %></span></a
                >
              </li>
              <li class="breadcrumb-item">
                <a
                  href="/home/product/<%= result[0].product_gender %>/<%= result[0].product_category %>"
                  ><span style="color: black;"><%= result[0].product_category %></span></a
                >
              </li>
              <li class="breadcrumb-item">
                <a
                  href="/home/product/<%= result[0].product_gender %>/single_product/<%= result[0].product_id %>"
                  ><span style="color: black;"><%= result[0].product_name %></span></a
                >
              </li>
            </ol>
          </nav>
        </div>
      </section>

      <!-- 3. Single Product -->
      <section class="container single-product mt-2 pt-2">
        <div class="row mt-2">
          <!-- 3.1 Left Side Photo -->

          <div class="col-2"></div>
          <div class="col-lg-5 col-md-12 col-sm-12 py-2 px-4">
            <img
              id="mainImg"
              class="img-fluid w-100 py-2 px-2 zoomImg"
              src="/img/product/<%= result[0].product_image %>"
              alt=""
            />
          
            <div class="small-img-group">
              <div class="small-img-col">
                <img
                  class="small-img"
                  src="/img/product/<%= result[0].product_image %>"
                  alt=""
                  width="100%"
                />
              </div>
              <div class="small-img-col">
                <img
                  class="small-img"
                  src="/img/product/<%= result[0].product_image2 %>"
                  alt=""
                  width="100%"
                />
              </div>
              <div class="small-img-col">
                <img
                  class="small-img"
                  src="/img/product/<%= result[0].product_image3 %>"
                  alt=""
                  width="100%"
                />
              </div>
              <div class="small-img-col">
                <img
                  class="small-img"
                  src="/img/product/<%= result[0].product_image4 %>"
                  alt=""
                  width="100%"
                />
              </div>
            </div>
          </div>

          
          <div
            class="col-lg-4 col-md-12 col-sm-12 py-3 px-5"
            id="product_describe"
          >
            <h3><%= result[0].product_gender %> | <%= result[0].product_category %></h3>
            <hr style="background-color: #395d6c; height: 2px" />
            <h5 style="color: gray">時尚</h5>
            <br />
            <h4><%= result[0].product_name %></h4>
            <p>商品編號 <%= result[0].product_code %></p>
            <p>價　格： $ <span><%= result[0].product_price %></span> 元</p>
            <p>顏　色： <span id="cho_color">米白</span><span>色</span></p>
            <span style="color: red">顏色選單</span>
            <span class="colorflexBox mx-auto px-2">
              <label >
                <input
                type="radio"
                value="WH"
                name="color_ch"
                style="width: 20px; height: 20px"
                data-col="白"
                checked
              />白
              </label>
              <label >
                <input
                type="radio"
                value="BK"
                name="color_ch"
                data-col="黑"
                style="width: 20px; height: 20px"
              />黑
              </label>
             
            </span>
            <br />
            <br />
            <h6>尺　寸：<span id="cho_size"></span></h6>
            <span style="color: red">尺寸選單</span><img src="" alt="" />
            <br>
            <span class="sizeflexBox mx-auto py-3 col-4">
              <% result.forEach(function(item){ %>
                <% let ch = "" %>
                <% if(ch != item.size_name){ %>
                  <label >
                    <input
                    type="radio"
                    value="<%- item.size_name %>"
                    name="size_ch"
                    style="width: 20px; height: 20px"
                    data-allId="<%- item.product_all_id %>"
                  />
                  <br><%- item.size_name %>
                  </label>
              
              <% ch = item.size_name %>
              <% } %>
              <% }) %> 
              
            </span>
            <br />
            <br />
            <div class="d-flex flex-row"></div>
            <span>數　量：</span>
            <span>
              <div class="col-2 css_tb pCount d-flex align-self-center">
                <a
                  href="javascript:"
                  class="q_sub"
                  style="padding: 2px; border: 1px solid #000"
                  ><i class="fa fa-minus" aria-hidden="true"></i></a
                >
                <input
                  type="text"
                  id="number"
                  value="1"
                  style="width: 25px; text-align: center"
                />
                <a
                  href="javascript:"
                  class="q_add"
                  style="padding: 2px; border: 1px solid #000"
                  ><i class="fa fa-plus" aria-hidden="true"></i></a
                >
              </div>
            </span>

            <form id="p_single" target="frameName">
              <input
                type="hidden"
                name="code"
                value="<%= result[0].product_code %>"
              />
              <input
                type="hidden"
                name="all_id"
                value="<%= result[0].product_all_id %>"
              />
              <input
                type="hidden"
                name="id"
                value="<%= result[0].product_id %>"
              />
              <input
                type="hidden"
                name="name"
                value="<%= result[0].product_name %>"
              />
              <input
                type="hidden"
                name="image"
                value="<%= result[0].product_image %>"
              />
              <input type="hidden" name="size" value="" />
              <input type="hidden" name="color" value="" />
              <input
                type="hidden"
                name="price"
                value="<%= result[0].product_price %>"
              />
              <input type="hidden" name="quantity" value="" />
              <input
                id="addCart"
                type="submit"
                value="加入購物車"
                class="btn btn-primary"
                style="width: 100px"
              />
            </form>
            <iframe
              src=""
              frameborder="0"
              style="display: none"
              name="frameName"
            ></iframe>

            <br />
            <br />

            <div>
              <h3
                style="
                  border-bottom: 1px solid #000;
                  padding-bottom: 10px;
                  margin-bottom: 10px;
                "
              >
                商品描述
              </h3>
            </div>
            <div>
              <p>&emsp;&emsp;<%= result[0].product_description %></p>
            </div>

            <br />

            <div>
              <h3 style="border-bottom: 1px solid #000; padding-bottom: 10px">
                商品資訊
              </h3>
            </div>
            <ul>
              <li><%- result[0].product_composition %></li>
            </ul>
          </div>
          <div class="col-lg-1"></div>

        </div>
      </section>

      <!-- 4. Relative Product -->
      <section class="container" id="related-products" class="pt-5 mt-2">
        <div class="text-center mt-4 pt-2">
          <h2>相關商品</h2>
          <hr class="mx-auto" />
        </div>
        <div class="row mx-auto container-fluid">
          <!-- Featured List -->
          <div class="my_product text-center col-lg-3 col-md-4 col-sm-12">
            <img
              class="img-fluid mb-3"
              src="assets/imgs/FP1_80100001_beige_0.jpg"
              alt=""
            />
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h5 class="p-name">人字拖</h5>
            <h4 class="p-price">$499</h4>
            <button class="my_button buy-btn">Buy Now</button>
          </div>
          <div class="my_product text-center col-lg-3 col-md-4 col-sm-12">
            <img
              class="img-fluid mb-3"
              src="assets/imgs/FP1_80100002_black_0.jpg"
              alt=""
            />
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h5 class="p-name">休閒剪裁運動衫</h5>
            <h4 class="p-price">$499</h4>
            <button class="my_button buy-btn">Buy Now</button>
          </div>
          <div class="my_product text-center col-lg-3 col-md-4 col-sm-12">
            <img
              class="img-fluid mb-3"
              src="assets/imgs/FP1_80100003_lightgreen_0.jpg"
              alt=""
            />
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h5 class="p-name">平蚊洋裝</h5>
            <h4 class="p-price">$499</h4>
            <button class="my_button buy-btn">Buy Now</button>
          </div>
          <div class="my_product text-center col-lg-3 col-md-4 col-sm-12">
            <img
              class="img-fluid mb-3"
              src="assets/imgs/FP1_80100004_lightblue_0.jpg"
              alt=""
            />
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h5 class="p-name">草帽</h5>
            <h4 class="p-price">$499</h4>
            <button class="my_button buy-btn">Buy Now</button>
          </div>
        </div>
      </section>

      <!-- 5. Hot Product -->
      <section class="container" id="related-products" class="pt-5 mt-2">
        <div class="text-center mt-4 pt-2">
          <h2>熱銷商品</h2>
          <hr class="mx-auto" />
        </div>
        <div class="row mx-auto container-fluid">
          <!-- Featured List -->
          <div class="my_product text-center col-lg-3 col-md-4 col-sm-12">
            <img
              class="img-fluid mb-3"
              src="assets/imgs/FP1_80100001_beige_0.jpg"
              alt=""
            />
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h5 class="p-name">人字拖</h5>
            <h4 class="p-price">$499</h4>
            <button class="my_button buy-btn">Buy Now</button>
          </div>
          <div class="my_product text-center col-lg-3 col-md-4 col-sm-12">
            <img
              class="img-fluid mb-3"
              src="assets/imgs/FP1_80100002_black_0.jpg"
              alt=""
            />
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h5 class="p-name">休閒剪裁運動衫</h5>
            <h4 class="p-price">$499</h4>
            <button class="my_button buy-btn">Buy Now</button>
          </div>
          <div class="my_product text-center col-lg-3 col-md-4 col-sm-12">
            <img
              class="img-fluid mb-3"
              src="assets/imgs/FP1_80100003_lightgreen_0.jpg"
              alt=""
            />
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h5 class="p-name">平蚊洋裝</h5>
            <h4 class="p-price">$499</h4>
            <button class="my_button buy-btn">Buy Now</button>
          </div>
          <div class="my_product text-center col-lg-3 col-md-4 col-sm-12">
            <img
              class="img-fluid mb-3"
              src="assets/imgs/FP1_80100004_lightblue_0.jpg"
              alt=""
            />
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h5 class="p-name">草帽</h5>
            <h4 class="p-price">$499</h4>
            <button class="my_button buy-btn">Buy Now</button>
          </div>
        </div>
      </section>
    </div>

    <br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br />

    <!-- 5. Footer -->
    <footer class="footer"><%- include("footer.ejs") %></footer>

    <!-- Bootstrap setting -->
    <!-- <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script> -->
    <!-- <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script> -->
    <script src="../js/product/jquery.min.js"></script>
    <script src="../public/js/product/myJs.js"></script>
    <script src="/js/shop_cart/jquery.js"></script>
    <!-- <script src="./assets/js/jquery.min.js"></script>
    <script src="./assets/js/myJs.js"></script> -->
    <script>
  

      var mainImg = document.getElementById("mainImg");
      var smallImg = document.getElementsByClassName("small-img");
console.log(mainImg.src);

      for (let i = 0; i < 4; i++) {
        smallImg[i].onclick = function () {
          mainImg.src = smallImg[i].src;
          $(".zoomImg").blowup({
                "width" : 400,
                "height" : 400,
                "round" : false,
                "zIndex" : 99999,
                "scale" : 1
            });

        };
      }

      $(document).ready(function () {
       


        $('#cartCount').html("<%- cartCount %>");


        $(".colorflexBox ").find("input[checked]").addClass("pcolor-active");

        $(".colorflexBox input").on("click", function () {
          $("#cho_color").html(this.dataset.col);
          $("#p_single input[name='color']").val(this.value);
          $(".colorflexBox input").removeClass("pcolor-active");
          $(this).addClass("pcolor-active");
        });
        $(".sizeflexBox ").find("input[checked]").addClass("psize-active");

        $(".sizeflexBox input").on("click", function () {
          $("#cho_size").html(this.value);
          $("#p_single input[name='size']").val(this.value);
          $("#p_single input[name='all_id']").val($(this).attr("data-allId"));
          $(".sizeflexBox input").removeClass("psize-active");
          $(this).addClass("psize-active");
        });
        $(".q_sub,.q_add").on("click", function () {
          let quantity = $("#number").val();
          $("#p_single input[name='quantity']").val(quantity);
        });

        //商品增加
        $(".q_add").click(function () {
          var num = 0;
          num++;

          var Count = parseInt($(this).siblings("#number").val());
          var to_Count = parseInt(Count + num);
          $(this).siblings("#number").val(to_Count);
          let quantity = $("#number").val();
          $("#p_single input[name='quantity']").val($("#number").val());

          // $(this).siblings("#number").val();
        });

        //商品減少
        $(".q_sub").click(function () {
          var Count = parseInt($(this).siblings("#number").val());
          Count--;

          if (Count < 1) {
            Count = 1;
          } else {
            $(this).siblings("#number").val(Count);
            $("#p_single input[name='quantity']").val($("#number").val());
          }
        });

        function serializeToJSON(data) {
          values = {};
          for (idx in data) {
            values[data[idx].name] = data[idx].value;
          }
          return JSON.stringify(values);
        }

        $("#addCart").on("click", function () {
          var pSize = $(".sizeflexBox ").find(" .psize-active").val();
          var pColor = $(".colorflexBox ").find(".pcolor-active").val();
          var pColor_ch = false;
          var pSize_ch = false;
          var nowCartCount = $('#cartCount').text();

          $(".sizeflexBox ")
            .find("input")
            .each(function (idx, ele) {
              if ($(ele).prop('checked')) {
                pSize_ch = true;
                $('#p_single input[name="size"]').val($(ele).val())

              }
            });
          $(".colorflexBox ")
            .find("input")
            .each(function (idx, ele) {
              if ($(ele).prop('checked')) {
                pColor_ch = true;
                $('#p_single input[name="color"]').val($(ele).val())
              }
            });
            $('#p_single input[name="quantity"]').val($("#number").val());


          // console.log(pColor_ch);
          // console.log(pSize_ch);

          // // console.log(pSize_ch);
          // //判斷尺寸和顏色是否選擇
          if (pColor_ch && pSize_ch) {
            
            if(nowCartCount){
              let update = parseInt(nowCartCount) + parseInt($('#number').val());
              $('#cartCount').html(update.toString());
            }else{
              let update = 0;
              update += parseInt($('#number').val());
              $('#cartCount').html(update.toString());
            }
            var data = $("#p_single").serializeArray();
            // console.log(data);
            JSONData = serializeToJSON(data);
            console.log(JSONData);

            var addTo_cart = document.createElement("div");
            addTo_cart.innerHTML = "已加入購物車";
            $(addTo_cart).attr("class", "al fadeInDown");
            document.querySelector(".sticky-top").appendChild(addTo_cart);

            setTimeout(function () {
              $(addTo_cart).attr("class", "al fadeOutUp");
            }, 2000);
            setTimeout(function () {
              $(addTo_cart).remove();
            }, 2200);



            $.ajax({
              url: "/home/shop_cart/",
              type: "POST",
              contentType: "application/json; charset=utf-8",
              data: JSONData,
              success: function (res) {
                var res = JSON.parse(res);
                alert("成功");

              
              },
              error: function () {
                alert("系統錯誤");
              },
            });


          } else {
            if ($(".al").length == 0) {
              var al = document.createElement("div");
              console.log(al);
              al.innerHTML = "請選擇尺寸";
              $(al).attr("class", "al fadeInDown");
              document.querySelector(".sticky-top").appendChild(al);
            }

            setTimeout(function () {
              $(al).attr("class", "al fadeOutUp");
            }, 2000);
            setTimeout(function () {
              $(al).remove();
            }, 2200);
          }
        });
      });
    </script>
    <!-- <script>
      $(document).ready(function () {
        $(".zoomImg").blowup({
          "background" : #F39C12,
          "width": 450,
          "height": 450
        });
        })
    </script> -->

    <!--  -->
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->
    <script type="text/javascript" src="/js/product/blowup.js"></script>
    <!-- blowup zoom-img -->
    <script>
       $(function() { 
            $(".zoomImg").blowup({
                "width" : 400,
                "height" : 400,
                "round" : false,
                "zIndex" : 99999,
                "scale" : 1
            });
        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sticky-sidebar/3.3.1/sticky-sidebar.min.js"></script>



  </body>
</html>
